<FlexboxLayout class="list-item-container"
               [height]="itemHeight"
               (tap)="tap.emit()"
               justifyContent="space-between"
               alignItems="center" >
    <Label class="category-title" [text]="title"></Label>
    <FlexboxLayout class="category-budget-container" flexDirection="column" justifyContent="center" alignItems="flex-end">
        <Label class="remaining-budget" [text]="currencyFormat(remainingBudget)"></Label>
        <Label class="original-budget" [text]="getOriginalBudgetDisplay()"></Label>
    </FlexboxLayout>
</FlexboxLayout>
<StackLayout *ngIf="divider" height="1" backgroundColor="#534bae"></StackLayout>
