<FlexboxLayout class="expense-item-container"
               [height]="height"
               justifyContent="space-between"
               alignItems="center">
    <Label *ngIf="notes" class="expense-title far" [text]="title + ' ' + noteIconUnicode" textWrap="true"></Label>
    <Label *ngIf="!notes" class="expense-title far" [text]="title" textWrap="true"></Label>
    <Label class="expense-amount" [text]="amount"></Label>
</FlexboxLayout>
<StackLayout *ngIf="divider" height="1" backgroundColor="#534bae"></StackLayout>
