<FlexboxLayout class="set-budget-container"
               flexDirection="column"
               justifyContent="space-between"
               alignItems="center">
    <Label class="set-budget-title" [text]="currentDateText"></Label>
    <FlexboxLayout class="set-budget-content-container" flexDirection="column" alignItems="center" justifyContent="center">
        <Label class="disposable-income-input-label" text="Expected Disposable Income" textWrap="true"></Label>
        <RadDataForm [source]="disposableIncome"
                     commitMode="Manual"
                     (editorUpdate)="styleForm($event)"
                     (loaded)="onDataFormLoaded($event)"
                     #disposableIncomeForm>
            <TKEntityProperty tkDataFormProperty
                              [name]="DisposableIncomeFormField.DISPOSABLE_INCOME"
                              displayName=""
                              index="0"
                              required="true">
                <TKPropertyEditor tkEntityPropertyEditor type="Decimal">
                    <TKPropertyEditorStyle tkPropertyEditorStyle labelHidden="true" labelPosition="Top" separatorColor="Transparent"></TKPropertyEditorStyle>
                </TKPropertyEditor>
            </TKEntityProperty>
        </RadDataForm>
    </FlexboxLayout>
    <Button class="submit-button" text="Continue" (tap)="onSubmit()"></Button>
</FlexboxLayout>
